#------------------------------------------------------------------------------#
# vi: set sw=4 ts=4 ai:                            ("set modeline" in ~/.exrc) #
#------------------------------------------------------------------------------#

#------------------------------------------------------------------------------#
#                    V e r s i o n   i n f o r m a t i o n                     #
#------------------------------------------------------------------------------#
# $Id:: .gitattributes 5 2010-10-25 09:20:46 tonk                           $: #
# $Revision:: 5                                                             $: #
# $Author:: Ton Kersten <tonk@tonkersten.com>                               $: #
# $Date:: 2010-10-26 12:31:58 +0200 (Tue, 26 Oct 2010)                      $: #
# $Hash:: 3500a8aedcab734ba0874623fe23896c775f3508 (tonk)                   $: #
#------------------------------------------------------------------------------#
#             E n d   o f   v e r s i o n   i n f o r m a t i o n              #
#------------------------------------------------------------------------------#

*   filter=gitvi
